import React from "react"
import classes from "./{{pascalCase name}}.module.scss"

interface {{pascalCase name}}Props {}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({}) => {
    return (
        <div className={classes.wrap}></div>
    )
}


export default {{pascalCase name}}
